/* rubygen.css */
main {
  width: 90%;
  padding: 1em;
  margin: 0 auto;
  outline: 2px solid #eee;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);

}

section {
  background-color: #eee;
  margin: 1em;
}