input,
textarea,
button {
  display: block;
  width: 680px;
  height: 30px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #14213d;
  border: 2px solid #8d99ae;
  border-radius: .3em;
  margin: 20px auto;
  outline: none;
}

textarea {
  background-color: rgb(245, 245, 245);
  height: 570px;
  font-size: 14px;
  font-weight: normal;
  box-sizing: border-box;
  padding: 1em;

}

/* 中文对不齐 */
/* textarea {
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color: #ccc;
  font-size: 14px;
} */

div {
  width: 680px;
  margin: 20px auto;
  /* text-align: center; */
}

#myfiles {
  display: inline;
  margin: 0;
  width: 480px;
  text-align: center;
}

#mybutton {
  float: right;
  margin: 0;
  width: 20%;
  height: 54px;
  border-color: #3498db;
  border-radius: 0.6em;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}

#mybutton:hover {
  color: #3498db;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

/*  */
body {
  background-color: rgb(242, 242, 242);
  margin: auto;
  max-width: 720px;
  min-width: 700px;
}

footer {
  margin: 20px;
  margin-bottom: 0;
  padding: 5px;
  border-top: 1px solid gray;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 5px;
  display: inline-block;
  margin: 0 10px;
}

.key {
  color: rgb(162, 62, 157);
}

.value {
  color: rgb(68, 140, 39);
}

/*  */
a {
  text-decoration: none;
}

a:link {
  color: #235ea7;
}

a:visited {
  color: #235ea7;
}

a:hover {
  color: blueviolet;

}

a:focus {
  color: blueviolet;
}

a:active {
  color: red;
}